* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dwn_Header {
  height: 100vh;
  background-color: gainsboro;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "left_contianer left_contianer left_contianer right_container right_container";
}
.left_section {
  grid-area: left_contianer;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6vw;
  gap: 4vw;
}
.mySelf {
  font-size: calc(16px + 3vw);
  text-align: start;
  width: 100%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.right_section {
  grid-area: right_container;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.dwn_aboutMe {
  font-size: calc(16px + 0.5vw);
  text-transform: capitalize;
  text-align: justify;
}
.dwn_myimage {
  width: 100%;
  object-fit:cover;
  height: 100%;
}
