* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dwn_Header {
  height: 100vh;
  background-color: gainsboro;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "left_contianer left_contianer left_contianer right_container right_container";
}
.left_section {
  grid-area: left_contianer;
  background-color: yellow;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 6vw;
  gap: 4vw;
}
.mySelf {
  font-size: calc(16px + 5vw);
  text-align: start;
  width: 100%;
  letter-spacing: 2px;
}
.right_section {
  grid-area: right_container;
  height: 100%;
  background-color: yellowgreen;
}
.dwn_aboutMe {
  font-size: calc(16px + 0.5vw);
  text-transform: capitalize;
  text-align: justify;
}
